<header><h1>URL Shortener</h1></header>

<section class="container">
<form #urlForm="ngForm"
      (ngSubmit)="onSubmitUrlForm(urlForm)"
      novalidate
      autocomplete="off"
      *ngIf ="!isFormSubmitted">
  
  <input class="form-input"
          name="inputUrl"
          type="url"
          [(ngModel)]="model.inputUrl"
          #inputUrl="ngModel"
          placeholder="Paste URL Here"
          required>
  <div 
  class="form-error" 
  [hidden]="(inputUrl.valid || inputUrl.pristine) && inputUrl.errors">
    <p *ngIf="inputUrl.errors">Please Enter Url</p>
  </div>
  <button type="submit" class="form-btn" [disabled]="urlForm.invalid">
    {{!isLoading ? 'Generate URL' : 'Generating...'}}
  </button>
</form>

  <div class="short-url-div" *ngIf="isFormSubmitted">
    <h2>Generate URL Link</h2>
    <div>
      <p>
        <a 
        [href]="shortUrl" 
        #shortUrlElementRef 
        target="_blank" 
        title="Click Me">
          {{shortUrl}}</a>
      </p>
    </div>

    <div class="short-url-btn-div">
      <button (click)="copy(shortUrlElementRef)">
        {{ !isTextCopied ? 'Copy' : 'Copied'}}</button>
      &nbsp;&nbsp;&nbsp;
      <button (click)="reset()">Reset</button>
    </div>
  </div>
</section>

<!--
<header><h2>{{title}}</h2></header>
<section class="container">
  <form>
    <input type="url" placeholder="Paste Your Url Here" #input>

    <button (click)="generateUrl(input.value)">Generate Url</button>
  </form>

  <div>
    <h2>Generated Url Link</h2>
    <div>
      <a [href]="shortenedUrl">{{shortenedUrl}}</a>
    </div>
    <div>
      <button>Copy</button>
      &nbsp;&nbsp;&nbsp;
      <button (click)="resetUrl(); input.value=''">Reset</button>
    </div>
  </div>
</section>
-->